/* app/globals.css */
@import "tailwindcss";

@theme {
  --color-primary: #FE7F2D;
  --color-secondary: #EAECF0;
  --color-icon-inactive: #777777;
  --color-text-primary: #111111;
  --font-sans: var(--font-geist), sans-serif;
}

body {
  cursor: url('/images/1.png') 0 0, auto;
  overflow-x: hidden;
}

button,
a {
  cursor: url('/images/2.png') 0 0, pointer;
}

@layer components {
 .glass {
  background: rgba(255, 255, 255, 0.12);
  border: 1.5px solid rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(70px) saturate(200%);
  -webkit-backdrop-filter: blur(70px) saturate(200%);

  box-shadow:
    0 29px 106.9px -40px rgba(0, 0, 0, 0.3),
    inset 0 1px 0 rgba(255, 255, 255, 0.5);
}
}
.nextjs-portal {
  display: none !important;
}

[data-nextjs-dev-overlay] {
  display: none !important;
} 